body {
  background-color: #dcbaa1;
  text-align: center;
}

.tablero {
  display: flex;
  justify-content: center;
}

#board {
  display: grid;
  width: 80%;
  margin-top: 20px;
}

#tamaño {
  width: 28px;
  height: 24px;
  margin-left: 10px;
}

.cuadro-blanco {
  width: 100%; /* Dejar que el tamaño del grid determine las dimensiones */
  aspect-ratio: 1; /* Mantener las celdas cuadradas */
  background-color: #fff;
}

.cuadro-negro {
  width: 100%; /* Dejar que el tamaño del grid determine las dimensiones */
  aspect-ratio: 1; /* Mantener las celdas cuadradas */
  background-color: #000;
}